@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;



body, label, .checkbox label {
	font-weight: 300;
}
body {
  margin: 0;

}
div {
  position: relative;
}
main,#main {
  background-image: radial-gradient(#2f8e2c,#2e7423);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 1em;
}

.cl-logo {
  text-indent: -999em;
  background-image: url(../img/clcup-logo.png);
  background-size:contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height:0;
  padding-bottom: 18.9%;
  width: 100%;
  overflow: hidden;
  display: block;

}
.glenn-bg {
  background-image: url(../img/glenn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80% 100%;

}
.tool-boxes {
  height: 33%;
  position: absolute;
  width: 100%;
  padding-top: 2em;
  .tool {
    height: 100%;
    .tabrow {
      padding:0;
      margin-bottom:0;
      :first-child {
        border-top-left-radius: 5px;
      }
      :last-child {
        border-top-right-radius: 5px;
      }
      li {
        list-style: none;
        background: #1c4e1b;
        color: #ffc601;
        line-height: 3em;
        text-align: center;
        padding:0;
        a {
          color: inherit;
          white-space: nowrap;
        }
        &.active {
          background: #38a932;
          color: #fff;
          border-top: 5px solid #38a932;
          margin-top: -5px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;


        }
      }
    }
    padding-right: 20px;
    padding-left: 20px;
  }
}
.contentrow {
  padding: 0 5px;
  height: calc(~"100% - 3em");
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 0;
    border-color: transparent #000000 transparent transparent;
    top: 0;
    left:0;
  }
  &:after {
    left: inherit;
    right: 0;
    border-width: 10px 5px 0 0;
    border-color: #000000 transparent transparent transparent;
  }
  .tabcontent {
    height: 100%;
    border-top: 10px solid black;
    background: #1c4e1b;
  }
}
.party-box {
  height: 66%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.rightpart {
  position: absolute;
  width: 100%;
  height: 100%;
}
.full-height {
  height: 100%;
}
.comp-info {
  padding-top: 4em;
  .row + .row {
    margin-top: 1.5em;
  }

}
.game-table {
  background: rgba(0,0,0,.5);
  width: 100%;
  padding: 1em;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 0;
    border-color: transparent #000000 transparent transparent;
    top: 0;
    left:0;
  }
  &:after {
    left: inherit;
    right: 0;
    border-width: 10px 5px 0 0;
    border-color: #000000 transparent transparent transparent;
  }

}
.match-row {
  height: 2.5em;
  +.match-row {
    margin-top: 1em;
  }
  .match-teams {
    display: inline-block;
    float: left;
    line-height: 2em;
  }
  .match-result {
    display: inline-block;
    float: right;

  }
}