@import "bootstrap/bootstrap";

@font-face {
  font-family : 'unibet';
  src         : url('/fonts/Unibet Pro (superstar edit)-webfont.eot');
  src         : url('/fonts/Unibet Pro (superstar edit)-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Unibet Pro (superstar edit)-webfont.woff2') format('woff2'),
  url('/fonts/Unibet Pro (superstar edit)-webfont.woff') format('woff'),
  url('/fonts/Unibet Pro (superstar edit)-webfont.ttf') format('truetype'),
  url('/fonts/Unibet Pro (superstar edit)-webfont.svg#unibet_pro_superstar_editRg') format('svg');
  font-weight : normal;
  font-style  : normal;

}

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@highlight: #fbc500;
@darkgreen: #1c4e1b;
@lightgreen: #38a932;

@link-color: white;

body, label, .checkbox label {
  font-weight : 300;
}

body {
  margin          : 0;
  background      : #2f8e2c; /* Old browsers */
  background      : -moz-radial-gradient(center, ellipse cover, #2f8e2c 0%, #2e7423 100%); /* FF3.6+ */
  background      : -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2f8e2c), color-stop(100%, #2e7423)); /* Chrome,Safari4+ */
  background      : -webkit-radial-gradient(center, ellipse cover, #2f8e2c 0%, #2e7423 100%); /* Chrome10+,Safari5.1+ */
  background      : -o-radial-gradient(center, ellipse cover, #2f8e2c 0%, #2e7423 100%); /* Opera 12+ */
  background      : -ms-radial-gradient(center, ellipse cover, #2f8e2c 0%, #2e7423 100%); /* IE10+ */
  background      : radial-gradient(ellipse at center, #2f8e2c 0%, #2e7423 100%); /* W3C */
  filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f8e2c', endColorstr='#2e7423', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  background-size : cover;

}

div {
  position : relative;
}

main, #main {
  width      : 100%;
  min-height : 100%;
  position   : absolute;
  top        : 0;
  left       : 0;
  color      : #fff;
  padding    : 0 0 0 1em;
}

.right-col {
  padding : 0;
}

.cl-logo {
  text-indent       : -999em;
  background-image  : url(../img/clcup-logo.png);
  background-size   : contain;
  background-repeat : no-repeat;
  margin            : 0;
  padding           : 0;
  height            : 0;
  padding-bottom    : 18.9%;
  width             : 100%;
  overflow          : hidden;
  display           : block;

}

.glenn-bg {
  background-image    : url(../img/glenn.png);
  background-size     : contain;
  background-repeat   : no-repeat;
  background-position : 80% 100%;

}

.tool-boxes  {
  height      : auto;
  position    : relative;
  width       : 100%;
  padding-top : 2em;
  margin      : 0;
  .tool {
    height        : 100%;
    .tabrow {
      padding       : 0;
      margin-bottom : 0;
      font-family   : 'unibet';

      :first-child {
        border-top-left-radius : 5px;
      }
      :last-child {
        border-top-right-radius : 5px;
      }
      li {
        list-style  : none;
        background  : @darkgreen;
        color       : @highlight;
        line-height : 3em;
        text-align  : center;
        padding     : 0;
        a {
          color       : inherit;
          white-space : nowrap;
          width       : 100%;
          height      : 100%;
          display     : inline-block;
          &:hover {
            color : white;

          }
        }
        &.active {
          background              : @lightgreen;
          color                   : #fff;
          border-top              : 5px solid @lightgreen;
          margin-top              : -5px;
          border-top-right-radius : 5px;
          border-top-left-radius  : 5px;

        }
      }
      &.only-medium {
        :first-child {
          border-top-left-radius : 0;
        }
        :last-child {
          border-top-right-radius : 0;
        }
        li.active {
          border-top-right-radius : 5px;
          border-top-left-radius  : 5px;
        }
      }

    }
    padding-right : 20px;
    padding-left  : 20px;
  }
}

.contentrow {
  padding : 0 5px;
  height  : calc(~"100% - 3em");
  &:before, &:after {
    content      : '';
    display      : block;
    position     : absolute;
    width        : 0;
    height       : 0;
    border-style : solid;
    border-width : 0 5px 10px 0;
    border-color : transparent #000000 transparent transparent;
    top          : 0;
    left         : 0;
  }
  &:after {
    left         : inherit;
    right        : 0;
    border-width : 10px 5px 0 0;
    border-color : #000000 transparent transparent transparent;
  }
  .tabcontent {
    height     : 100%;
    border-top : 10px solid black;
    background : #1c4e1b;
    min-height : 15em;
  }
}

.party-box  {
  width    : 100%;
  position : absolute;
  bottom   : 0;

  margin   : 1em 0 0 0;
  > div {
    padding : 10px 10px 0 10px;
  }
}

.userlist {
  list-style : none;
  padding    : 0;

  .userrow {
    list-style : none;
    > div {
      display : inline-block;
    }
    + .userrow {
      border-top : 1px solid rgba(255, 255, 255, .5);
    }
  }
  .placement {
    font-family : unibet;
    font-size   : 1.3em;
    width       : 2em;
    text-align  : center;

  }
  .userimage {

  }
  .userscore {
    float       : right;
    line-height : 50px;
    padding     : 0 1em;

  }

}

.rightpart {
  position : absolute;
  width    : 100%;
  height   : 100%;
}

.full-height {
  height : 100%;
}

.comp-info {
  padding-top : 4em;
  .row + .row {
    margin-top : 1.5em;
  }

}

.game-table {
  background : rgba(0, 0, 0, .5);
  width      : 100%;
  padding    : 1em;

}

.game-table-footer, .tool-footer {
  &:before, &:after {
    content      : '';
    display      : block;
    position     : absolute;
    width        : 0;
    height       : 0;
    border-style : solid;
    border-width : 0 5px 10px 0;
    border-color : transparent #000000 transparent transparent;
    top          : 0;
    left         : -5px;
  }
  &:after {
    left         : 100%;
    border-width : 10px 5px 0 0;
    border-color : #000000 transparent transparent transparent;
  }
  background : black;
  height     : 10px;
  padding    : 0;
  position   : absolute;
  width      : calc(~"100% - 10px");

  left       : 5px;
  top        : 100%;
}

.tool-footer {
  width : calc(~"100% - 30px");
  left  : 15px;
}

.game-table-buttons {
  margin  : 1em 0 0em;
  padding : 1em 1em 4em 1em;

}

.game-button {
  font-family   : unibet;
  font-size     : 1.3em;
  float         : left;
  background    : @darkgreen;
  color         : white;
  border        : none;
  border-bottom : 3px solid black;
  height        : 3em;
  display       : inline-block;
  text-align    : center;
  line-height   : 2em;

  width         : calc(~"50% - .5em");
  + .game-button {
    margin-left : 1em;
  }
  &:hover {
    color : @highlight;
  }
}

.tabcontent {
  display : none;
  padding : 1.5em 1em;
  &.active {
    display : block;
  }
}

.match-row {
  height : 2.5em;
  + .match-row {
    margin-top : 1em;
  }
  .match-teams {
    display     : inline-block;
    float       : left;
    line-height : 2em;
  }

  .team-name {
    color : #fff;
    &.active {
      color : @highlight;
    }
  }

  .match-result {
    display : inline-block;
    float   : right;
    .divider {
      border-top : 2px solid white;
      width      : .5em;
      height     : 0.45em;
      display    : inline-block;
      position   : relative;
      margin     : 0 .25em;
    }
  }

}

.match-result-input {
  border-radius      : 5px;
  color              : black;
  border             : none;
  text-align         : center;
  padding            : .3em .66em;
  -webkit-box-shadow : inset 0 3px 3px rgba(0, 0, 0, .5);
  -moz-box-shadow    : inset 0 3px 3px rgba(0, 0, 0, .5);
  box-shadow         : inset 0 3px 3px rgba(0, 0, 0, .5);
  &:disabled {
    background         : transparent;
    color              : white;
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
  }
}

.game_header {
  margin      : .5em 0 0 0;
  font-family : unibet;
}

.tiebreaker_header {
  margin      : 0 0 .5em 0;
  display     : inline-block;
  font-family : unibet;
}

.tiebreaker {
  .match-result-input {
    float : right;
  }
  .game_sub_header {
    display : block;
  }
}

hr {
  opacity : .5;
}

#teamform {

  h3 {
    text-align : center;
    margin     : 0 0 1.5em;
    .t2 {
      color : @highlight;
    }
  }
  white-space : nowrap;
  .grid {
    height   : 13em;
    width    : 100%;
    position : relative;
    &.t2 {
      position : absolute;
      top      : 0;
      left     : 0;
    }
  }
  ul {
    width       : 9.090909%;
    float       : left;
    height      : 13em;
    display     : inline-block;
    list-style  : none;
    position    : relative;
    margin      : 0;
    padding     : 0;
    border-left : 1px solid black;
    &.desc {
      span {
        display    : block;
        width      : 100%;
        position   : absolute;
        top        : 100%;
        margin-top : -1.4em;
        text-align : center;
      }
    }
    li {
      border-top : solid 1px black;
      display    : block;
      margin     : 0;
      padding    : 0;
      list-style : none;
      height     : 35%;
      width      : 100%;
      position   : relative;
      &:first-child {
        border : none;
        height : 15%;
      }
      &:last-child {
        height : 15%;
      }
    }
    &.w, &.l, &.d {
      &:after {
        content       : '';
        display       : block;
        position      : absolute;
        width         : 1em;
        height        : 1em;
        left          : 100%;
        top           : 15%;
        border-radius : 50%;
        background    : white;
        margin-left   : -.5em;
        margin-top    : -.5em;
        z-index       : 1;
      }
    }
    &.l:after {
      top : 85%;
    }
    &.d:after {
      top : 50%;
    }

    &.w, &.l, &.d {
      &:before {
        display    : block;
        content    : '';
        width      : 100%;
        height     : 35%;
        top        : 15%;
        position   : absolute;
        background : linear-gradient(to top left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) calc(50% - 2px),
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) calc(50% + 2px),
        rgba(255, 255, 255, 0) 100%);

      }

    }
    &.l + .w {
      &:before {
        height : 70%;
      }
    }
    &.l + .d {
      &:before {
        height : 35%;
        top    : 50%;
      }
    }
    &.d + .d, &.l + .l, &.w + .w {
      &:before {
        background    : none;
        border-bottom : 1px solid white;
      }

    }
    &.l + .l:before {
      top : 50%;
    }
    &.w + .w:before {
      top    : 0%;
      height : 15%;
    }
    &.w + .d, &.d + .l, &.w + .l {
      &:before {
        background : linear-gradient(to top right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) calc(50% - 2px),
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) calc(50% + 2px),
        rgba(255, 255, 255, 0) 100%);
      }
    }
    &.w + .d:before {
      top    : 15%;
      height : 35%;
    }
    &.w + .l:before {
      top    : 15%;
      height : 70%;
    }
    &.d + .l:before {
      top : 50%;
    }

    &:first-child {
      border : none;
      &:before {
        display : none;
      }
    }
    &.t2 {
      border : none;
      &.w, &.l, &.d {
        &:after {
          background : @highlight;
        }
        &:before {
          background : linear-gradient(to top left,
          rgba(252, 198, 0, 0) 0%,
          rgba(252, 198, 0, 0) calc(50% - 2px),
          rgba(252, 198, 0, 1) 50%,
          rgba(252, 198, 0, 0) calc(50% + 2px),
          rgba(252, 198, 0, 0) 100%);

        }
      }
      &.w + .d, &.d + .l, &.w + .l {
        &:before {
          background : linear-gradient(to top right,
          rgba(252, 198, 0, 0) 0%,
          rgba(252, 198, 0, 0) calc(50% - 2px),
          rgba(252, 198, 0, 1) 50%,
          rgba(252, 198, 0, 0) calc(50% + 2px),
          rgba(252, 198, 0, 0) 100%);
        }
      }

      &.d + .d, &.l + .l, &.w + .w {
        &:before {
          background    : none;
          border-bottom : 1px solid @highlight;
        }
      }
    }
  }
}

.tiebreaker_header {
  font-size : 1.2em;
  width     : 80%;
}

.debug {
  display : none;
}

.only-medium {
  display : none;
  @media screen and (min-width : @screen-md-min) and (max-width : @screen-md-max) {
    display : block;
  }
}

.not-medium {
  display : block;
  @media screen and (min-width : @screen-md-min) and (max-width : @screen-md-max) {
    display : none;
  }

}

img {
  max-width : 100%;
}

@media screen and (max-width : @screen-sm-max) {
  .tool + .tool {
    margin-top : 2em;
  }
}

#tips10 {
  strong {
    display       : block;
    margin-bottom : 1em;
    cursor        : pointer;
    &:after {
      content : '+';
      display : block;
      float   : right;

    }
    + p {
      display : none;
    }
    &.active {
      margin-bottom : .5em;
      + p {
        display : block;
      }
      &:after {
        content      : '-';
        margin-right : .3em;

      }

    }
  }

}

#terms {
  display: none;
  #close-terms {
    float: right;
    color: white;
    height: 2em;
    width: 2em;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 1.9em;
    &:hover {
      text-decoration : none;
      opacity: .8;
    }

  }
  position   : absolute;
  width      : 100%;
  padding    : 2em;
  background : darkgreen;
  min-height     : 100%;
  top        : 0;
  h2 {
    font-family: unibet;
    text-align: center;
  }
  .wrap {
    max-width: 42em;
    margin:0 auto;
  }
}
